<md-dialog ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Policy</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  <md-dialog-content>
    <h4>{{vm.type}}: {{vm.address}}</h4>
    <md-input-container>
      <textarea rows="4" cols="30" placeholder="enter policy json here..." ng-model="vm.policy"></textarea>
    </md-input-container>
  </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="vm.validate()">
       Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

